# Guidelines

- Always add helpful comments to the code explaining what you are doing.
- Never delete old comments, unless they are no longer relevant because the code has been rewritten or deleted.
- When you learn something new and update the cursorrules file.

# General

- When you are suggesting something that can use URL, please always consider rootPathname of useDAO hook.
- We should always first consider using react-query to fetch data.

# Pages

- Currently, we have kind of duplicated pages directory "\_sites" and "[site]", so whenever you are creating a new page, please consider where to put in both places.
- Do not use @chakra-ui/icons for icons, use react-icons library instead.
